//! **************************************************************************
// Written by: Map P.20131013 on Mon Apr 10 03:54:26 2023
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

