//! **************************************************************************
// Written by: Map P.20131013 on Mon May 01 18:31:14 2023
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

